/Solar System/Solar System/bin
/Solar System/Solar System/obj
/Solar System/Solar System/*.user
/Solar System/packages
/Solar System/Solar System/Scripts/jquery.unobtrusive-ajax.min.js
/Solar System/Solar System/Scripts/jquery.validate.unobtrusive.min.js
