@using Solar_System.Models
@model IEnumerable<SpaceObjectViewModel>

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="draggable-element">
    @if (Model != null && Model.Any())
    {
        foreach (var spaceObject in Model.OrderByDescending(x => x.Aphelion))
        {
            @Html.Partial("_SpaceObject", spaceObject)
        }
    }
</div>