@model List<Model.Models.SpaceObject>

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="draggable-element">
    <div class="orbit neptune-orbit">
        <div class="space-object medium" id="neptune"></div>
    </div>
    <div class="orbit uranus-orbit">
        <div class="space-object large" id="uranus"></div>
    </div>
    <div class="orbit saturn-orbit">
        <div class="space-object large" id="saturn"></div>
    </div>
    <div class="orbit jupiter-orbit">
        <div class="space-object large" id="jupiter"></div>
    </div>
    <div class="orbit mars-orbit">
        <div class="space-object medium" id="mars"></div>
        <div class="satellite-orbit fobos-orbit">
            <div class="space-object small" id="fobos"></div>
        </div>
        <div class="satellite-orbit deimos-orbit">
            <div class="space-object small" id="deimos"></div>
        </div>
    </div>
    <div class="orbit earth-orbit">
        <div class="space-object medium" id="earth"></div>
        <div class="satellite-orbit moon-orbit">
            <div class="space-object small" id="moon"></div>
        </div>
    </div>
    <div class="orbit venus-orbit">
        <div class="space-object medium" id="venus"></div>
    </div>
    <div class="orbit mercury-orbit">
        <div class="space-object small" id="mercury"></div>
    </div>
    <div class="space-object orbit star large" id="sun">
        <span>@Model.FirstOrDefault(so => so.Name.Equals("Sun")).Name</span>
    </div>
</div>