#earth {
    z-index: 48;
    background-color: cornflowerblue; 
}


/* SATELLITES */
#moon {
    z-index: 47;
    background-color: gray;
}

.moon-orbit {
    width: 20px;
    height: 20px;
    margin-left: -3.4px;
    margin-top: -3.4px;
}