#mars {
    height:6.8px;
    width:6.8px;
    background-color: brown;
}

/* SATELLITES */

#fobos {
    height:1px;
    width:1px;
    background-color:#808080;
}

#deimos {
    height:1px;
    width:1px;
    background-color:#808080;
}
