#uranus {
    height:20px;
    width:20px;
    background-color: cadetblue;

}

.uranus-orbit {
    width: 800px;
    height: 800px;
    margin-left: -400px;
    margin-top: -400px;
}

/* SATELLITES */